* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	scroll-behavior: smooth;
	min-width: 320px;
	background-color: black;
	font-family: 'Geometria', sans-serif;
	color: white;
	text-transform: uppercase;
	padding-left: 6px;
}

header ul {
	font-family: 'Roboto', sans-serif;
	display: inline-flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 15px;
	width: 100%;
	font-size: 10pt;
}

ul .name_320 {
	font-size: 16pt;
	margin-right: 30px;
}

ul .name_768,
.sec,
.dv {
	display: none;
}

.on-hover img {
	margin-top: 8px;
	width: 9px;
	margin-left: 45px;
	border: 0.1px solid #c0c0c0;
	border-radius: 100%;
	box-shadow: inset #000000 0 0 10px 0.5px, #ffffff 0 0 6px 0.5px;
}

.hidden-block {
	font-family: 'Istok Web', sans-serif;
	position: absolute;
	width: 87%;
	padding: 20px;
	border-radius: 15px;
	text-transform: none;
	line-height: 25px;
	background: #ccc;
	color: black;
	opacity: 0;
	transition: 1s;
}

.on-hover:hover+.hidden-block {
	z-index: 1;
	opacity: 1;
	transition: 1s;
}

.text {
	font-size: 45pt;
	opacity: 0.8;
	margin-left: -4px;
}

.text2 {
	margin-top: 10px;
	font-size: 28pt;
	opacity: 0.8;
}

.light {
	margin-left: 6px;
	letter-spacing: 20px;
	margin-top: 20px;
	margin-bottom: 40px;
	font-size: 50pt;
	font-weight: 100;
}

.image img {
	position: absolute;
	z-index: 2;
}

.image img:first-child {
	margin-left: 210px;
	margin-top: 10px;
	width: 80px;
}

.image img:last-child {
	margin-top: 66px;
	margin-left: 70px;
	width: 120px;
	opacity: 0.8;
}

.image img:first-child:hover {
	-webkit-transform: scale(2.5);
	-ms-transform: scale(2.5);
	transform: scale(2.5);
	transition: 3s;
}

.image img:last-child:hover {
	-webkit-transform: scale(2.5);
	-ms-transform: scale(2.5);
	transform: scale(2.5);
	transition: 3s;
}

.about h1 {
	margin-left: 6px;
	margin-top: -22px;
	line-height: 150%;
	font-size: 16pt;
	width: 75%;
	padding-bottom: 20px;
	opacity: 0.8;
}

.about h2 {
	text-align: center;
	margin-top: -5px;
	font-size: 25pt;
	padding-bottom: 20px;
	opacity: 0.8;
}

.about p {
	line-height: 150%;
	text-transform: none;
	font-family: 'Istok Web', sans-serif;
	padding-bottom: 20px;
}

.about ul {
	line-height: 150%;
	text-align: right;
	text-transform: none;
	font-family: 'Istok Web', sans-serif;
	padding-bottom: 20px;
	padding-top: 15px;
}

.about a {
	margin-right: 3px;
	font-family: 'Istok Web', sans-serif;
	padding: 12px;
	float: right;
	align-items: center;
	text-align: center;
	font-weight: 300;
	text-decoration: none;
	outline: none;
	border-radius: 30px;
	background-image: linear-gradient(45deg, #ffffff 0%, #000000 50%, #E5E5E5 100%);
	background-position: 100% 0;
	background-size: 200% 200%;
	font-size: 16px;
	color: white;
	transition: .5s;
	opacity: 0.8;
	margin-bottom: 30px;
}

.about a:hover {
	background-position: 0 0;
}

.infa p {
	margin-top: 55px;
	font-size: 20pt;
}

.image2 img {
	position: absolute;
	z-index: 3;
	width: 100%;
}

.image2 img:first-child {
	margin-left: 85px;
	margin-top: 30px;
	width: 90px;
	opacity: 0.5;
}

.image2 img:last-child {
	margin-top: -55px;
	margin-left: 195px;
	width: 120px;
	opacity: 0.6;
}

h3 {
	text-align: center;
	font-size: 14pt;
	margin-bottom: 10px;
}

blockquote {
	font-family: 'Istok Web', sans-serif;
	background: none repeat scroll 0 0 #000000;
	border-bottom: 3px dashed #bababa;
	border-top: 3px dashed #bababa;
	color: #ffffff;
	opacity: 0.9;
	font-size: 12px;
	font-style: italic;
	line-height: 1.45;
	padding: 10px 15px;
	position: relative;
	text-align: center;
	width: 300px;
}

.cut {
	position: absolute;
	width: 150px;
	margin-left: -6px;
	margin-bottom: -10px;
}

.cut2 {
	position: absolute;
	margin-top: -60px;
	margin-left: 85px;
	width: 80px;
	opacity: 0.7;
}

.cut3 {
	position: absolute;
	margin-top: -20px;
	margin-left: 235px;
	width: 95px;
	opacity: 0.7;
}

.cut4 {
	position: absolute;
	margin-top: -60px;
	margin-left: 245px;
	width: 85px;
	opacity: 0.7;
}

.cut5 {
	position: absolute;
	margin-top: -20px;
	margin-left: 45px;
	width: 60px;
	opacity: 0.7;
}

.cut6 {
	position: absolute;
	margin-top: 45px;
	margin-left: 120px;
	width: 60px;
	opacity: 0.5;
}


}
footer p {
	font-family: 'Roboto', sans-serif;
	font-size: 10pt;
	line-height: 15px;
	padding-bottom: 10px;
}
footer .contacts {
	display: inline-flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-left: 5px;
}
.vk {
	padding-left: 20px;
	width: 20px;
	height: 20px;
}
.inst {
	padding-left: 20px;
	width: 20px;
	height: 20px;
}
.logo {
	padding-left: 20px;
	height: 20px;
	width: 20px;
	padding-right: 20px;
}

@media (min-width: 768px) {
	body {
		min-width: 768px;
		padding-left: 12px;
	}

	header ul {
		font-family: 'Roboto', sans-serif;
		display: inline-flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding-top: 10px;
		width: 95%;
		font-size: 12pt;
	}

	.name_320 {
		display: none;
	}

	ul .name_768,
	.sec,
	.dv {
		display: flex;
	}

	.on-hover img {
		margin-top: 12px;
		width: 15px;
		margin-left: 265px;
		border: 0.1px solid #c0c0c0;
		border-radius: 100%;
		box-shadow: inset #000000 0 0 10px 0.5px, #ffffff 0 0 6px 0.5px;
	}

	.hidden-block {
		position: absolute;
		width: 50%;
	}

	.text {
		font-size: 105pt;
		opacity: 0.8;
		margin-left: -4px;
	}

	.text2 {
		margin-top: 10px;
		font-size: 28pt;
	}

	.light {
		font-family: Geometria, sans-serif;
		margin-left: 6px;
		letter-spacing: 20px;
		margin-top: 15px;
		font-size: 125pt;
		font-weight: 100;
	}

	.image img {
		position: absolute;
		z-index: 2;
	}

	.image img:first-child {
		margin-left: 420px;
		margin-top: 40px;
		width: 160px;
	}

	.image img:last-child {
		margin-top: 150px;
		margin-left: 120px;
		width: 220px;
	}

	.image img:first-child:hover {
		-webkit-transform: scale(2.5);
		-ms-transform: scale(2.5);
		transform: scale(2.5);
		transition: 3s;
	}

	.image img:last-child:hover {
		-webkit-transform: scale(2.5);
		-ms-transform: scale(2.5);
		transform: scale(2.5);
		transition: 3s;
	}

	.about h1 {
		text-align: right;
		margin-left: -160px;
		font-size: 32pt;
		padding-bottom: 40px;
	}

	.about h2 {
		text-align: center;
		margin-top: -5px;
		font-size: 48pt;
		padding-bottom: 35px;
		opacity: 0.8;
	}

	h3 {
		font-size: 24pt;
		margin-bottom: 20px;
	}

	.infa p {
		margin-top: 100px;
		font-size: 60pt;
	}

	.infa2 p {
		text-align: center;
		font-size: 18pt;
		width: 576pt;
	}

	.about ul {
		line-height: 150%;
		text-align: right;
		text-transform: none;
		font-family: 'Istok Web', sans-serif;
		padding-bottom: 20px;
		padding-top: 15px;
		font-size: 22pt;
		margin-right: 12px;
	}

	.about a {
		text-decoration: none;
		outline: none;
		display: inline-block;
		padding: 15px;
		border-radius: 30px;
		background-image: linear-gradient(45deg, #000000 0%, #ffffff 50%, #000000 100%);
		background-position: 100% 0;
		background-size: 200% 200%;
		font-size: 34px;
		color: white;
		transition: .5s;
		opacity: 0.9;
margin-right: 12px;
	}

	.about a:hover {
		background-position: 0 0;
	}

	.cut {
		position: absolute;
		width: 190px;
		margin-left: -6px;
		margin-bottom: -10px;
	}

	.cut2 {
		position: absolute;
		margin-top: -80px;
		margin-left: 260px;
		width: 120px;
		opacity: 0.7;
	}

	.cut3 {
		position: absolute;
		margin-top: -20px;
		margin-left: 670px;
		width: 105px;
		opacity: 0.7;
	}

	.cut4 {
		position: absolute;
		margin-top: -70px;
		margin-left: 660px;
		width: 100px;
		opacity: 0.7;
	}

	.cut5 {
		position: absolute;
		margin-top: -20px;
		margin-left: 65px;
		width: 80px;
		opacity: 0.7;
	}

	.cut6 {
		position: absolute;
		margin-top: 45px;
		margin-left: 320px;
		width: 60px;
		opacity: 0.5;
	}

	.image2 img {
		position: absolute;
		z-index: 3;
		width: 100%;
	}

	.image2 img:first-child {
		margin-left: 505px;
		margin-top: 30px;
		width: 90px;
		opacity: 0.5;
	}

	.image2 img:last-child {
		margin-top: -105px;
		margin-left: 595px;
		width: 160px;
		opacity: 0.6;
	}
	blockquote {
  	font-family: 'Istok Web', sans-serif;
  	background: none repeat scroll 0 0 #000000;
  	border-bottom: 3px dashed #bababa;
  	border-top: 3px dashed #bababa;
  	color: #ffffff;
  	opacity: 0.9;
  	font-size: 24px;
  	font-style: italic;
  	line-height: 1.45;
  	padding: 10px 15px;
  	position: relative;
  	text-align: center;
		width: 75%;
		margin-left: 96px;
  }

	footer p {
		font-family: 'Roboto', sans-serif;
		font-size: 20pt;
		line-height: 30px;
		padding-bottom: 10px;
	}

	footer .contacts {
		display: inline-flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}

	.vk {
		padding-left: 80px;
		width: 40px;
		height: 40px;
	}

	.inst {
		padding-left: 80px;
		width: 40px;
		height: 40px;
	}

	.logo {
		padding-left: 80px;
		width: 40px;
		height: 40px;
		padding-right: 80px;
	}
}
